
        :root {
            --color-deep-space: #000000;
            --color-midnight-blue: #15132A;
            --color-nebula-purple: #6A11CB;
            --color-cosmic-violet: #00E5FF;
            --color-bright-purple: #2575FC;
            --color-starlight-white: #FFFFFF;
        }
